body, app
{
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

nav
{
  display: flex;
  justify-content: center;
}

main
{
  font-size: 1.125rem;
}

app > main
{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 80%;
  /* Account for scrollbars, which are usually 16 pixels wide */
  min-width: calc(768px - 16px);
  max-width: 64rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px)
{
  app > main
  {
    width: 100%;
    min-width: 0;
  }
}

.spacer
{
  flex-grow: 1;
}

footer
{
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-family: 'Times New Roman', serif;
  color: #666;
}

main, footer, #primary-header
{
  padding-left: .5rem;
  padding-right: .5rem;
}

article
{
  width: 100%;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, #primary-heading
{
  font-weight: normal;
  font-family: Arial, sans-serif;
}

a
{
  text-decoration: none;
}

img, video
{
  max-width: 100%;
  max-height: 100%;
}

figcaption
{
  font-style: italic;
}

pre
{
  border: 2px dashed #CCC;
  overflow-x: auto;
  font-size: 1rem;
  background-color: rgba(249, 249, 234, .80);
  color: black;
}

code
{
  overflow-wrap: break-word;
}

pre > code
{
  font-family: Consolas, monospace;
}

/* Table styling */
table
{
  border-collapse: collapse;
}

tr:not(:last-of-type) td
{
  border-bottom: 1px solid grey;
}

td:not(:first-of-type), th:not(:first-of-type)
{
  padding-left: 4px;
}

td:not(:last-of-type), th:not(:last-of-type)
{
  padding-right: 4px;
  border-right: 1px solid grey;
}

td:not(:first-of-type)
{
  text-align: right;
}

/* Button Links */
.button-link
{
  display: inline-block;
  margin: .2rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #06A;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-link a
{
  display: inline-block;
  padding: calc(.25rem - 1px) calc(.5rem - 1px);
  font-family: Arial, sans-serif;
  color: white;
}

.button-link[disabled]
{
  border-color: currentColor;
  cursor: default;
  background-color: transparent;
  color: rgba(127, 127, 127, .25);
}

.button-link[disabled] a
{
  color: inherit;
}

#primary-header
{
  padding-top: 3rem;
  background-color: #262f60;
  color: white;
}

#primary-heading
{
  font-size: 3rem;
}
#primary-heading a
{
  color: inherit;
}

#primary-navbar
{
  margin: 1.25em;
}

#site-description
{
  margin: 1rem 0;
  filter: invert(20%);
}
#site-description h1
{
  margin: 0;
}
#site-description p
{
  margin: 0;
  filter: invert(33%);
}

.post-list, .archive
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post + .post
{
  border-top: 1px dashed #333
}

.post header
{
  margin: 2rem 0;
}

.post-title
{
  margin: 0;
}
.post-meta
{
  margin-bottom: 1rem;
  font-style: italic;
  filter: invert(33%);
}

.archive-post
{
  display: flex;
  justify-content: space-between;
}
.archive-post .post-meta
{
  padding-right: .75em;
}
.archive-month
{
  width: 576px;
}

@media (max-width: 576px)
{
  .archive-month
  {
    width: 100%;
  }
}

.tag
{
  padding: 1px;
  border: 1px solid currentColor;
  font-size: .9em;
  background-color: transparent;
  color: #06A;
}
.tag a
{
  color: inherit;
}
.tag-post-count::before
{
  content: "(";
}
.tag-post-count::after
{
  content: ")";
}

/* Print styling */
@media print
{
  html
  {
    font-size: 13px;
  }
  body
  {
    height: 100%;
  }
  body, body > main, .post-list
  {
    /*
      Firefox can't split pages correctly when we use flexbox
      so we use display: block and correct other things that depend on flexbox
    */
    display: block;
  }
  pre
  {
    page-break-inside: avoid;
    white-space: pre-wrap;
  }
  body > header, body > footer
  {
    display: none;
  }
  .post-meta
  {
    filter: none;
  }
  .post
  {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
}
