@inherits LayoutComponentBase

<header id="primary-header">
    <span id="primary-heading">
        <a href="/">RoverSim</a>
    </span>
    <nav id="primary-navbar">
        <NavMenu />
    </nav>
</header>

<main>
    @Body
</main>

<footer>
    <div class="copyright">Copyright &copy; @DateTime.Now.Year</div>
    <div class="wyam-attribution">Themed based off of <a href="https://github.com/Ociaw/PlainBlog">Plain Blog</a></div>
</footer>

