<div class="button-link">
    <a href="/counter">Counter</a>
</div>
<div class="button-link">
    <a href="/fetchdata">Fetch Data</a>
</div>
<div class="button-link">
    <a href="//ociaw.com/">Blog</a>
</div>
